<div class="row mx-4 my-4">
    <div class="col-sm-4">
        <div class="chart-card">
            <canvas id="chartTotal"></canvas>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="chart-card">
            <canvas id="chartTotalStatus"></canvas>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="chart-card">
            <canvas id="chartTotalApps"></canvas>
        </div>
    </div>
</div>

<div class="chart-card mx-4 my-4">
    <canvas id="chartTotalLancamentosDia" style="height: 350px;"></canvas>
</div>

<div class="chart-card mx-4 my-4">
    <canvas id="chartTotalLancamentos" style="height: 350px;"></canvas>
</div>
