<form cForm [formGroup]="form">
    <c-row>
        <c-col xs="12">
          <c-card class="mb-4">
            <c-card-header ngPreserveWhitespaces>
              <strong>Cadastro de Cliente</strong>
            </c-card-header>
            <c-card-body>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Nome</mat-label>
                  <input matInput
                    formControlName="nome"
                  >
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Telefone</mat-label>
                  <input
                    matInput
                    formControlName="telefone"
                    type="tel">
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Dispositivo</mat-label>
                  <input matInput formControlName="dispositivo">
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100" >
                  <mat-label>Aplicativo</mat-label>
                  <mat-select formControlName="app">
                      <mat-option>Nenhum</mat-option>
                      @for (app of apps; track app) {
                      <mat-option [value]="app">{{app}}</mat-option>
                      }
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>ID Aplicativo</mat-label>
                  <input matInput
                  formControlName="app_id">
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Chave Aplicativo</mat-label>
                  <input matInput
                  formControlName="app_key">
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Vencimento Aplicativo</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="app_vencimento">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100">
                  <mat-label>Plano</mat-label>
                  <mat-select formControlName="plano">
                      <mat-option>Nenhum</mat-option>
                      <mat-option [value]="'pop'">Pop</mat-option>

                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100" >
                  <mat-label>Vencimento</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="vencimento">
                  <mat-hint>DD/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100" >
                  <mat-label>Valor</mat-label>
                  <input matInput formControlName="valor">
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100" >
                <mat-label>Usuário</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>


              <mat-form-field appearance="outline" class="dense-1 field-100" >
                  <mat-label>Servidor</mat-label>
                  <mat-select formControlName="servidor_id">
                      <mat-option>Nenhum</mat-option>
                      @for (servidor of servidores; track servidor) {
                      <!-- <mat-option [value]="servidor">{{servidor}}</mat-option> -->
                      <mat-option [value]="1">Club</mat-option>
                      }
                  </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" class="dense-1 field-100" >
                <mat-label>Banco</mat-label>
                <mat-select formControlName="banco_id">
                    <mat-option>Nenhum</mat-option>
                    <mat-option [value]="1">Inter</mat-option>
                </mat-select>
            </mat-form-field>


<!--               <app-lancamento (plano)="1"></app-lancamento>
 -->

            </c-card-body>
            <c-card-footer>
              <button class="btn btn-success" (click)="submit()">Salvar</button>
            </c-card-footer>
          </c-card>
        </c-col>
      </c-row>

</form>
