.spin {
  animation: spin 1s linear infinite;
  pointer-events: none;
}

.disabled {
  opacity: 0.6;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
