.table {
  width: 100%;
  overflow: auto;
}

// Cor de fundo para linhas pares
tr:nth-child(even) {
  background-color: #f9f9f9;
}

// Cor de fundo para linhas ímpares
tr:nth-child(odd) {
  background-color: #ffffff;
}

 // Cor de fundo ao passar o mouse sobre a linha
tr:hover {
  background-color: #e0e0e0;
}

// Cor do texto das células
td {
  color: #333;
}


