<c-card>
    <c-card-body>
        <div class="row">
            <div class="col-6 menu-item">
            <mat-form-field appearance="outline" class="dense-1 field-100">
                <mat-label>Filtro</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
            </mat-form-field>
            </div>
            <div class="col-6 d-flex justify-content-end d-flex align-items-center menu-item">
            <p><mat-slide-toggle
                [checked]="clienteAtivos"
                (click)="getClienteAtivos()"
                class="me-3"
                >Clientes Ativos</mat-slide-toggle></p>
            <button class="btn btn-sm btn-dark botoes-top mb-3 d-flex align-items-center me-2"
            (click)="adicionar()"><mat-icon>add</mat-icon>Adicionar</button>
            </div>
        </div>

<div class="table-responsive shadow">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort (matSortChange)="announceSortChange($event)">
    @for (column of columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #DDD;">
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row" (click)="openFormDialog(row.id)" [ngClass]="{'bg-danger fw-bold': checkVencimento(row.vencimento) == 'expirado', 'bg-warning fw-bold': checkVencimento(row.vencimento) == 'expirando'}">
          <span (click)="$event.stopPropagation();">
            @if (column.header == 'Status' && (column.cell(row) == '1' || column.cell(row) == 'true')) {
                <mat-icon class="icon-action text-success" (click)="updateStatus(row.id)">task_alt</mat-icon>
            }

            @else if (column.header == 'Status' && (column.cell(row) == '0' || column.cell(row) == 'false')) {
                <mat-icon class="icon-action text-danger" (click)="updateStatus(row.id)">highlight_off</mat-icon>
            }
          </span>

          <span (click)="$event.stopPropagation();">
            @if (column.header == 'Renovar') {
                <mat-icon class="icon-action text-success" (click)="renovarCliente(row.id)">cached</mat-icon>
            }
          </span>

            <span (click)="$event.stopPropagation();">
              @if (column.header == 'Notificação' && column.cell(row) == '1') {
                  <mat-icon class="icon-action text-primary" (click)="enviarNotificacao(row.id)">send</mat-icon>
              }
            </span>

           <!--  @if (column.header == 'Vencimento') {
                <span [ngClass]="{'text-dark' : checkVencimento(column.cell(row)) == 'expirado'}"> {{column.cell(row)}} </span>
            } -->

            @if (column.header == 'Aplicativo') {
                <span [ngClass]="{'text-danger fw-bold': checkVencimentoApp(row.id) == 'expirado', 'text-warning fw-bold': checkVencimentoApp(row.id) == 'expirando'}"> {{column.cell(row)}} </span>
            }

            @else if (column.header == 'DNS' ) {
              {{column.cell(row) == 'null' ? "" : column.cell(row)}}
            }

            @else if (column.header == 'Servidor' ) {
                <img [src]="getServidorLogo((column.cell(row)))" class="icon-server ms-3">
            }

            @else if (column.header == 'Valor' ) {
                R$ {{(column.cell(row))}}
            }

            @else if (column.header != 'Status' && column.header != 'Renovar' && column.header != 'Notificação'){
                {{column.cell(row)}}
            }

        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

  </c-card-body>
  <c-card-footer>
    <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
    aria-label="Selecione a pagina"
  ></mat-paginator>
  </c-card-footer>
</c-card>



<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="announceSortChange($event)">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenação por nome"> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenação por telefone"> Telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
  </ng-container>

  <ng-container matColumnDef="dispositivo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenação por dispositivo"> Dispositivo </th>
    <td mat-cell *matCellDef="let element"> {{element.dispositivo}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nenhuma informação encontada para o valor: "{{input.value}}"</td>
  </tr>

</table> -->


